@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-Regular.eot');
    src: url('FormaDJRMicro-Regular.eot?#iefix') format('embedded-opentype'),
        url('FormaDJRMicro-Regular.woff2') format('woff2'),
        url('FormaDJRMicro-Regular.woff') format('woff'),
        url('FormaDJRMicro-Regular.ttf') format('truetype'),
        url('FormaDJRMicro-Regular.svg#FormaDJRMicro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forma DJR Cyrillic Micro';
    src: url('FormaDJRCyrillicMicro-Regular.eot');
    src: url('FormaDJRCyrillicMicro-Regular.eot?#iefix') format('embedded-opentype'),
        url('FormaDJRCyrillicMicro-Regular.woff2') format('woff2'),
        url('FormaDJRCyrillicMicro-Regular.woff') format('woff'),
        url('FormaDJRCyrillicMicro-Regular.ttf') format('truetype'),
        url('FormaDJRCyrillicMicro-Regular.svg#FormaDJRCyrillicMicro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

